//------------------------------------------------------------------------------

  Variables

  ------------------------------------------------------------------------------

// Colors
$textPrimary: #333333
$accentPrimary: #999999
$linkPrimary: #00d2be



// Typography
$bodyFont: "ff-meta-serif-web-pro", Cambria, Georgia, Times, serif
$accentFont: "omnes-pro", Helvetica, sans-serif