<div class="footer">
  <div class="wrap">
    <p>The Gently Mad is written by <a href="http://www.twitter.com/avclark">Adam Clark</a>. You can find out more about me <a href="http://www.avclark.com">here</a>.

    <p><a href="http://www.twitter.com/avclark">Follow along on Twitter</a> &nbsp;&nbsp; + &nbsp;&nbsp; <a href="http://feeds.feedburner.com/TheGentlyMad">Subscribe to the Feed</a> &nbsp;&nbsp; + &nbsp;&nbsp; <a href="mailto:adam@bottlerocketcreative.com">Say Hello</a></p>
  </div><!-- .wrap -->
</div>