<div class="footer">
  <div class="wrap">
    <p>The Gently Mad is written by <a href="http://www.avclark.com">Adam Clark</a>. This site is intentionally uncopyrighted. Feel free to take the design or code and use them for your own learning purposes. You can even clone the entire repository and start your own blog. It's all freely available on <a href="https://github.com/avclark/avclark.github.com">Github</a>.

    <p><a href="http://www.twitter.com/avclark">Follow along on Twitter</a> &nbsp;&nbsp; + &nbsp;&nbsp; <a href="http://feeds.feedburner.com/TheGentlyMad">Subscribe to the feed</a> &nbsp;&nbsp; + &nbsp;&nbsp; <a href="mailto:adam@bottlerocketcreative.com">Say hello</a></p>
  </div><!-- .wrap -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/libs/jquery-1.7.min.js"><\/script>')</script>

  <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="/assets/js/libs/selectivizr-min.js"></script>
  <![endif]--> 

  <script src='/assets/js/script.js'></script>

  <script>
    var _gaq=[['_setAccount','UA-4847704-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>