{% include head.html %}

<body>

  {% include header.html %}

  <div class="wrap">
    <div class="post {% if page.custom_type %}{{ page.custom_type }}{% endif %}">
      <p class="date">{{ page.date | date: "%B %e, %Y" }} <a href="http://www.instapaper.com/hello2?url=http:www.thegentlymad.com{{ page.url }}&title={{ page.title }}">Send to Instapaper</a></p>
      <h2>{{ page.title }}</h2>

      {{ content }}
      
      {% include disqus.html %}
    </div>
  </div><!-- .wrap -->

{% include footer.html %}
